main {
    background-color: #ffffff;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: min(80vw, 48rem);
    max-height: 80vh;
    
    padding: 1rem;
}

h2 {
    margin: .75rem 1rem 0 1rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    gap: 1rem;
    padding: 1rem;
}

a {
    background-color: #7DDCD3;
    color: #101010;

    padding: 1rem;
    text-align: center;
    text-decoration: none;
}

a:hover {
    background-color: #56D0C5;
}